[MASTER]
profile=no
ignore=.git, fabfile.py, migrations
ignore-paths=.*/migrations

disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    no-self-use,

    # TODO: Remove when fix envirioment pre-commit pylint hook
    import-error,

[BASIC]
good-names=_,e,qs,pk,setUp,tearDown,setUpTestData
